<div
  id="accordion-flushs"
  data-accordion="collapse"
  data-active-classes="bg-white text-gray-900"
  data-inactive-classes="text-gray-500 product__description_text"
  style="border-top: 1px solid #f2f2f2;"
>
  {% if product.metafields.custom.benefits != blank %}
    <h2 id="accordion-flush-headings-1">
      <button
        type="button"
        class="flex items-center justify-between info-accordion w-full py-[16px] font-medium rtl:text-right text-gray-500 border-b border-gray-20 product__description_text gap-3"
        data-accordion-target="#accordion-flush-body-1"
        aria-expanded="false"
        aria-controls="accordion-flush-body-1"
      >
        <span>Benefits</span>
        <svg
          data-accordion-icon
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path d="M16 10L12 14L8 10" stroke="#585858" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-headings-1">
      <div class="innerMetaHandle border-b border-gray-200 ">
        <p class="text-gray-500 product__description_text">
          {{ product.metafields.custom.benefits | metafield_tag }}
        </p>
      </div>
    </div>
  {% endif %}
  {% if product.metafields.custom.clean_beauty_credential != blank %}
    <h2 id="accordion-flush-headings-2">
      <button
        type="button"
        class="flex items-center justify-between info-accordion w-full py-[16px] font-medium rtl:text-right text-gray-500 border-b border-gray-200 product__description_text gap-3"
        data-accordion-target="#accordion-flush-body-2"
        aria-expanded="false"
        aria-controls="accordion-flush-body-2"
      >
        <span>Clean Beauty Credentials</span>
        <svg
          data-accordion-icon
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path d="M16 10L12 14L8 10" stroke="#585858" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-headings-2">
      <div class="innerMetaHandle border-b border-gray-200">
        <p class="text-gray-500 product__description_text">
          <span class="key-feature">
            {{ product.metafields.custom.clean_beauty_credential | metafield_tag }}
          </span>
        </p>
      </div>
    </div>
  {% endif %}
  {% if product.metafields.custom.product_awards != blank or product.metafields.custom.awards != blank %}
    <h2 id="accordion-flush-headings-3">
      <button
        type="button"
        class="flex items-center justify-between info-accordion w-full py-[16px] font-medium rtl:text-right text-gray-500 border-b border-gray-200 product__description_text gap-3"
        data-accordion-target="#accordion-flush-body-3"
        aria-expanded="false"
        aria-controls="accordion-flush-body-3"
      >
        <span>Awards</span>
        <svg
          data-accordion-icon
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path d="M16 10L12 14L8 10" stroke="#585858" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-headings-3">
      <div class="innerMetaHandle border-b border-gray-200">
        <p>
          {{ product.metafields.custom.product_awards | capitalize }}
          <div class="flex flex-row flex-nowrap gap-3 pt-4">
            {% for image in product.metafields.custom.awards.value %}
              <img
                class="clean-beauty-icon award_images"
                src="{{ image | image_url }}"
                alt="{{ image.alt |  append: 'award-Icon' | escape }}"
                height="100%"
                loading="lazy"
              >
            {% endfor %}
          </div>
        </p>
      </div>
    </div>
  {% endif %}
  {% if product.metafields.custom.ingredients != blank or product.metafields.custom.combos_ingredients != blank %}
    <h2 id="accordion-flush-headings-4">
      <button
        type="button"
        class="flex items-center justify-between info-accordion w-full py-[16px] font-medium rtl:text-right text-gray-500 border-b border-gray-200 product__description_text gap-3"
        data-accordion-target="#accordion-flush-body-4"
        aria-expanded="false"
        aria-controls="accordion-flush-body-4"
      >
        <span>
          {% if template == 'product.combos' %}Key {% endif %}Ingredients</span
        >
        <svg
          data-accordion-icon
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path d="M16 10L12 14L8 10" stroke="#585858" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-flush-body-4" class="hidden" aria-labelledby="accordion-flush-headings-4">
      <div class="innerMetaHandle border-b border-gray-200">
        {% if template == 'product.combos' %}
          <div class="flex flex-col gap-y-[16px]">
            <ul>
              {% for heroMeta in product.metafields.custom.hero_ingredients.value %}
                <li class="text-[#171717] text-[14px] font-normal leading-[24px]">{{ heroMeta.ingredient_name }}</li>
              {% endfor %}
            </ul>
          </div>

          <div class="hero-media-wrapper w-full h-auto flex flex-col justify-center items-start gap-y-[16px] md:gap-y-[20px] mt-[24px]">
            <div class="w-full h-auto flex justify-center items-center !m-0">
              <div class="ingrehero-handle-summary read-more-wrapper product__description_text w-full !text-[#171717] !text-start !text-[13px] md:!text-[16px] !font-normal !leading-[20px] !m-0">
                {{ product.metafields.custom.combos_ingredients | metafield_tag }}
              </div>
            </div>
            <button
              style="color=#151515;"
              class="read-more-btn !text-[#151515] !text-center !text-[13px] md:!text-[16px] !font-bold !leading-[20px] !mt-[-10px] underline"
              isCombo="true"
            >
              Full Ingredient List +
            </button>
          </div>

          {% comment %}
            <p class="mt-[24px]">
              {{ product.metafields.custom.combos_ingredients | metafield_tag }}
            </p>
          {% endcomment %}
        {% else %}
          <p>
            {{ product.metafields.custom.ingredients }}
          </p>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% if product.metafields.custom.directions != blank %}
    <h2 id="accordion-flush-headings-5">
      <button
        type="button"
        class="flex items-center justify-between info-accordion w-full py-[16px] font-medium rtl:text-right text-gray-500 border-b border-gray-200 product__description_text gap-3"
        data-accordion-target="#accordion-flush-body-5"
        aria-expanded="false"
        aria-controls="accordion-flush-body-5"
      >
        <span>Application</span>
        <svg
          data-accordion-icon
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path d="M16 10L12 14L8 10" stroke="#585858" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-flush-body-5" class="hidden" aria-labelledby="accordion-flush-headings-5">
      <div class="innerMetaHandle border-b border-gray-200">
        <p>
          {{ product.metafields.custom.directions }}
        </p>
      </div>
    </div>
  {% endif %}
  {% if product.metafields.custom.application_combos != blank %}
    <h2 id="accordion-flush-headings-6">
      <button
        type="button"
        class="flex items-center justify-between info-accordion w-full py-[16px] font-medium rtl:text-right text-gray-500 border-b border-gray-200 product__description_text gap-3"
        data-accordion-target="#accordion-flush-body-6"
        aria-expanded="false"
        aria-controls="accordion-flush-body-6"
      >
        <span>Application</span>
        <svg
          data-accordion-icon
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path d="M16 10L12 14L8 10" stroke="#585858" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-flush-body-6" class="hidden" aria-labelledby="accordion-flush-headings-6">
      <div class="innerMetaHandle border-b border-gray-200">
        <p>
          {{ product.metafields.custom.application_combos | metafield_tag }}
        </p>
      </div>
    </div>
  {% endif %}
</div>
<style>
  #accordion-flushs ol,
  #accordion-flushs ul {
    list-style: disc;
    padding-left: 20px;
  }
  #accordion-flush-body-6 ol{
    list-style: decimal;
  }
</style>
