{% assign playSpeed = section.settings.change_slides_speed %}
<div class="announcement-bar mx-auto w-full h-[38px] bg-[#fbfbfb]">
  <div class="w-full h-full flex justify-center items-center gap-x-[12px]">
    {% if section.settings.show_buttons %}
      <button
        id="anouncement-prev-btn-{{ section.id }}"
        class="h-full aspect-square shrink flex justify-center items-center"
      >
        {% render 'carousel-prev-btn', class: 'w-[12px] aspect-square' %}
      </button>
    {% endif %}

    <div
      id="anouncement-carousel-wrapper-{{ section.id }}"
      class="anouncement-carousel-wrapper swiper h-full grow overflow-hidden"
    >
      <div
        {% if section.settings.auto_rotate %}
          data-play-speed="{{ section.settings['change_slides_speed'] }}"
        {% endif %}
        class="announcement-carousel swiper-wrapper w-full h-full flex flex-nowrap"
      >
        {% for block in section.blocks %}
          <div class="anouncement-item swiper-slide h-full flex-grow flex-shrink-0 basis-full !flex justify-center items-center text-heading text-center text-[12px] md:text-[14px] font-medium leading-[20px]">
            {{ block.settings.text }}
          </div>
        {% endfor %}
      </div>
    </div>

    {% if section.settings.show_buttons %}
      <button
        id="anouncement-next-btn-{{ section.id }}"
        class="anouncement h-full aspect-square shrink flex justify-center items-center"
      >
        {% render 'carousel-next-btn', class: 'w-[12px] aspect-square' %}
      </button>
    {% endif %}
  </div>
</div>

<style>
  .announcement-carousel {
    transition: 1s linear;
  }
</style>

<script
  type="text/javascript"
  defer
>
  $(document).ready(function () {
    /** const $anouncementCarousel = $('.announcement-carousel');
    const autoRotateSpeed = $anouncementCarousel.attr('data-play-speed');

    const $anouncementItems = $('.anouncement-item');
    const width = $anouncementItems.width();
    let index = 0;
    let direction = 1; // 1 for forward, -1 for backward

    const $prevBtn = $('#anouncement-prev-btn-{{ section.id }}');
    const $nextBtn = $('#anouncement-next-btn-{{ section.id }}');

    if ($prevBtn.length && $nextBtn.length) {
      $prevBtn.on('click', function (e) {
        direction = -1;
        index = (index + direction + $anouncementItems.length) % $anouncementItems.length;
        $anouncementCarousel.css('transform', `translateX(-${index * width}px)`);
      });

      $nextBtn.on('click', function (e) {
        direction = 1;
        index = (index + direction) % $anouncementItems.length;
        $anouncementCarousel.css('transform', `translateX(-${index * width}px)`);
      });
    }

    if (autoRotateSpeed) {
      setInterval(function () {
        if (direction === 1 && index === $anouncementItems.length - 1) {
          direction = -1;
        } else if (direction === -1 && index === 0) {
          direction = 1;
        }
        index = (index + direction + $anouncementItems.length) % $anouncementItems.length;
        $anouncementCarousel.css('transform', `translateX(-${index * width}px)`);
      }, autoRotateSpeed * 1000);
    } 
    */

    console.log({{playSpeed}}*1000, 'ccccccccccc')
    const announcementSwiper = new Swiper('#anouncement-carousel-wrapper-{{ section.id }}', {
      slidesPerView: 1,
      speed: 1000,
      loop: true,
      autoplay: {
        enabled: true,
        delay: {{ playSpeed }}*1000,
        pauseOnMouseEnter: true,
      },
      navigation: {
        prevEl: "#anouncement-prev-btn-{{ section.id }}",
        nextEl: "#anouncement-next-btn-{{ section.id }}"  
      },
      paggination: false,
    });

    // show hide
    const $announcementBar = $('.announcement-bar');
    const showAtPosition = 200; // Show the bar when scrolled 200px from the top
    $('#MainContentWrapper').scroll(function () {
      const scrollTop = $('#MainContentWrapper').scrollTop();
      if (scrollTop > showAtPosition) {
        $announcementBar.hide();
      } else {
        $announcementBar.show();
      }
    });
  });
</script>

{% schema %}
{
  "name": "Announcement bar 2",
  "max_blocks": 12,
  "class": "announcement-bar-section-2",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.announcement-bar.settings.auto_rotate.label",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "t:sections.announcement-bar.settings.change_slides_speed.label",
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "show_buttons",
      "label": "Show Carousel Buttons",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "use-container",
      "label": "Limit width of anouncement bar?",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement bar 2",
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  ]
}
{% endschema %}
