{% assign numSlidesSm = section.settings['num-slides-sm'] %}
{% assign numSlidesMd = section.settings['num-slides-md'] %}
{% assign numSlidesLg = section.settings['num-slides-lg'] %}
{% assign numSlidesXl = section.settings['num-slides-xl'] %}
{% assign numSlides2xl = section.settings['num-slides-2xl'] %}

<div class="container carousel-section-wrapper d-flex-center">
  <div class="carousel-section-title-wrapper d-flex-center">
    <p class="carousel-section-title">{{- section.settings['carousel-title'] -}}</p>
  </div>
  <div class="carousel-wrapper-outer d-flex-center">
    <button id="carousel-prev-{{ section.id }}" type="button" class="carousel-btn prev-btn d-flex-center">
      {% render 'carousel-prev-btn' %}
    </button>

    <div class="carousel-inner d-flex-center">
      <div id="carousel-{{ section.id }}" class="carousel d-flex-center">
        {% for product in section.settings['carousel-collection'].products limit: section.settings['slides-limit'] %}
          <div class="carousel-slide">
            {% render 'product-card', product: product, sectionId: section.id, index: forloop.index0 , showTags:true , showRemoveWishlistBtn:true %}
          </div>
        {% endfor %}
      </div>

      <div
        id="product-carousel-dots-wrapper-{{ section.id }}"
        class="product-carousel-dots-wrapper"
      ></div>
    </div>

    <button id="carousel-next-{{ section.id }}" type="button" class="carousel-btn prev-btn d-flex-center">
      {% render 'carousel-next-btn' %}
    </button>
  </div>
</div>

<script type="text/javascript" defer>
  $(document).ready(function ready() {
    let numSlidesSm = '{{ numSlidesSm }}';
    let numSlidesMd = '{{ numSlidesMd }}';
    let numSlidesLg = '{{ numSlidesLg }}';
    let numSlidesXl = '{{ numSlidesXl }}';
    let numSlides2xl = '{{ numSlides2xl }}';

    numSlidesSm = roundSlides(numSlidesSm, 1);
    numSlidesMd = roundSlides(numSlidesMd, 1);
    numSlidesLg = roundSlides(numSlidesLg, 1);
    numSlidesXl = roundSlides(numSlidesXl, 1);
    numSlides2xl = roundSlides(numSlides2xl, 1);

    console.log(numSlidesSm, numSlidesMd, numSlidesLg, numSlidesXl, numSlides2xl);

    const $root = $('#carousel-{{ section.id }}');

    $root.slick({
      mobileFirst: true,
      slidesToShow: numSlidesSm,
      slidesToScroll: 1,
      infinite: false,
      arrows: true,
      prevArrow: $('#carousel-prev-{{ section.id }}'),
      nextArrow: $('#carousel-next-{{ section.id }}'),
      dots: true,
      appendDots: $('#product-carousel-dots-wrapper-{{ section.id }}'),
      responsive: [
        {
          breakpoint: 768,
          settings: {
            slidesToShow: numSlidesMd,
          },
        },
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: numSlidesLg,
          },
        },
        {
          breakpoint: 1280,
          settings: {
            slidesToShow: numSlidesXl,
          },
        },
        {
          breakpoint: 1536,
          settings: {
            slidesToShow: numSlides2xl,
          },
        },
      ],
    });
  });
</script>

{% schema %}
{
  "name": "Product Carousel",
  "class": "product-carousel-section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "carousel-title",
      "label": "Carousel Title",
      "default": "Best Selling"
    },
    {
      "type": "collection",
      "id": "carousel-collection",
      "label": "Carousel Collection"
    },
    {
      "type": "number",
      "id": "slides-limit",
      "label": "Total Num of Slides",
      "default": 7
    },
    {
      "type": "text",
      "id": "num-slides-sm",
      "label": "Num Slides on sm Devices",
      "default": "1",
      "info": "Rounded to one decimal point. Breakpoint none"
    },
    {
      "type": "text",
      "id": "num-slides-md",
      "label": "Num Slides on md Devices",
      "default": "3",
      "info": "Rounded to one decimal point. Breakpoint 768px"
    },
    {
      "type": "text",
      "id": "num-slides-lg",
      "label": "Num Slides on lg Devices",
      "default": "3",
      "info": "Rounded to one decimal point. Breakpoint 1024px"
    },
    {
      "type": "text",
      "id": "num-slides-xl",
      "label": "Num Slides on xl Devices",
      "default": "3",
      "info": "Rounded to one decimal point. Breakpoint 1280px"
    },
    {
      "type": "text",
      "id": "num-slides-2xl",
      "label": "Num Slides on 2xl Devices",
      "default": "3.5",
      "info": "Rounded to one decimal point. Breakpoint 1536px"
    }
  ],
  "presets": [
    {
      "name": "Product Carousel"
    }
  ]
}
{% endschema %}
